@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Sekuya&display=swap");

@import "tailwindcss";

:root {
  /* Fonts */
  --font-heading: "Instrument Serif", serif;
  --font-body: "Inter", sans-serif;
  --font-preloader: "Sekuya", system-ui;
  --font-preloader-jap: "Hina Mincho", serif;

  /* Background */
  --bg-color: #d4d4d4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 1.15rem;
  font-style: normal;
  overflow-x: hidden;
  background-color: var(--bg);
}

nav {
  font-family: var(--font-heading);
}

.preloader {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
  background: #00008b;
  color: #d4d4d4;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
